*.sh
*.woff
*.ttf
*.d.ts

.husky
.vscode
.local
.idea
public
dist
/public
/docs
/bin
./src/assets

package.json
.eslintrc.js
.prettierrc.js
commitlint.config.js
postcss.config.js
tailwind.config.js
stylelint.config.js
