@import "./transition";
@import "./element-plus";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

/* 设置表格灰色表头 */
.grey-table-header-cell {
  background: #e8ebed !important;
}

/* 设置表格灰色表头 */
.el-dialog__header {
  margin-right: 0 !important;
  border-bottom: 1px solid #c0c6cb;
}
